.list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  // gap: 13px;

  // background: rebeccapurple;
  // &:after {
  //   content: "";
  //   flex: auto;
  // }
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 227px);
  justify-content: space-evenly;
  grid-gap: 20px;

  li {
    width: 227px;
    margin: 20px 0px 0px;

    img {
      border: 1px solid #ccc;
    }

    p {
      margin: 0
    }
  }
}